<%-include('./includes/header.ejs')  %>

</head>

<body>
  <div class="container-scroller">
    <%-include('./includes/headerNav.ejs')  %>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div>
                          <a type="button" class="btn btn-primary text-white" href="/admin/sales-report">
                            <i class="ti-file btn-icon-prepend"></i>
                            Sales Report
                          </a>
                          <p class="statistics-title">Total Revenue</p>
                          <h3 class="rate-percentage">₹<%= totalRevenue %></h3>
                          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p> -->
                        </div>
                        <div>
                          <p class="statistics-title">Total Products</p>
                          <h3 class="rate-percentage"> <%= totalProducts %></h3>
                          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p> -->
                        </div>
                        <div>
                          <p class="statistics-title">Pending Orders</p>
                          <h3 class="rate-percentage"><%= totalNonDeliveredOrders %></h3>
                          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> -->
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Orders</p>
                          <h3 class="rate-percentage"><%= totalOrders %></h3>
                          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> -->
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Users</p>
                          <h3 class="rate-percentage"><%= totalUsers %></h3>
                          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> -->
                        </div>
                        <div class="d-none d-md-block">
                          <!-- <p class="statistics-title">Orders Pending</p> -->
                          <!-- <h3 class="rate-percentage">2m:35s</h3> -->
                          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- partial -->
                  <!-- partial:../../partials/_sidebar.html -->

                  <!-- partial -->
                  <div class="row">

                    <div class="col-lg-8 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title" style="float: left; font-size: larger;">Perfomance Statistics</h4>
                          <button id="monthlyButton" class="btn btn-sm btn-primary text-white" style="float: right;">Monthly</button>
                          <button id="yearlyButton" class="btn btn-sm btn-primary text-white" style="float: right;">Yearly</button>
                          <canvas id="areaChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 grid-margin stretch-card">
                      <div class="card pt-5" style="height: 400px;">
                        <div class="card-body">
                          <h4 class="card-title">Yearly Sales </h4>
                          <canvas id="barChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Line chart</h4>
                          <canvas id="lineChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Doughnut chart</h4>
                          <canvas id="doughnutChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="row flex-grow">
                    <div class="col-8 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <h4 class="card-title card-title-dash">All Users</h4>
                          </div>
                          <div class="table-responsive  mt-1">
                            <table class="table select-table">
                              <thead>
                                <tr>
                                  <th>User</th>
                                  <th>Email</th>
                                  <th>Phone</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% allUsers.forEach(user => { %>
                                <tr>
                                  <td>
                                    <div class="d-flex ">
                                      <img src="/images/faces/face8.jpg" alt="">
                                      <div>
                                        <h6><%= user.fname %></h6>
                                        <p> <%= user.role %></p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <h6> <%= user.email %></h6>
                                    <p> Verified: <%= user.verified %></p>
                                  </td>
                                  <td>
                                    <h6> <%= user.phone %></h6>
                                  </td>
                                  <td>
                                    <% if (user.status === 'Active') { %>
                                    <div class="badge badge-opacity-success">Active</div>
                                    <% } else { %>
                                    <div class="badge badge-opacity-danger" style="background: rgb(255, 212, 212);">Incactive</div>
                                    <% } %>
                                  </td>
                                </tr>
                                <% }) %>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 grid-margin stretch-card">
                      <!-- <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Pie chart</h4>
                          <canvas id="pieChart"></canvas>
                        </div>
                      </div> -->
                      </div>
                  </div>

                </div>
                <!-- main-panel ends -->
              </div>
              <!-- page-body-wrapper ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

  <%-include('./includes/footerNav.ejs')  %>

  <script>
    // Pass orderCounts array to the JavaScript file
    const orderCounts = JSON.parse('<%- JSON.stringify(orderCounts) %>').map(Number);
    const userCounts = JSON.parse('<%- JSON.stringify(userCounts) %>').map(Number);
    const orderCountsByMonth = JSON.parse('<%- JSON.stringify(orderCountsByMonth) %>').map(Number);
    const userCountsByMonth = JSON.parse('<%- JSON.stringify(userCountsByMonth) %>').map(Number);
    // for pie chart
    const totalOrders = JSON.parse('<%- JSON.stringify(totalOrders) %>').map(Number);
    const totalNonDeliveredOrders = JSON.parse('<%- JSON.stringify(totalNonDeliveredOrders) %>').map(Number);
    const totalProducts = JSON.parse('<%- JSON.stringify(totalProducts) %>').map(Number);
  </script>

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <!-- <script src="/js/Chart.roundedBarCharts.js"></script> -->
  <!-- End custom js for this page-->
  <!-- new chart scripts -->
  <script src="../../js/chart.js"></script>

</body>

</html>