<%-include('./includes/header.ejs')  %>

</head>

<body>
  <div class="container-scroller">
    <%-include('./includes/headerNav.ejs')  %>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                  </li>
                  <li class="nav-item">
                    <!-- <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">Audiences</a> -->
                  </li>
                  <li class="nav-item">
                    <!-- <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab" aria-selected="false">Demographics</a> -->
                  </li>
                  <li class="nav-item">
                    <!-- <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">More</a> -->
                  </li>
                </ul>
                <div>
                  <!-- <div class="btn-wrapper">
                      <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                      <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div> -->
                </div>
              </div>
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div>
                          <p class="statistics-title">Total Revenue</p>
                          <h3 class="rate-percentage">₹<%= totalRevenue %></h3>
                          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p> -->
                        </div>
                        <div>
                          <p class="statistics-title">Total Products</p>
                          <h3 class="rate-percentage"> <%= totalProducts %></h3>
                          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p> -->
                        </div>
                        <div>
                          <p class="statistics-title">Pending Orders</p>
                          <h3 class="rate-percentage"><%= totalNonDeliveredOrders %></h3>
                          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> -->
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Orders</p>
                          <h3 class="rate-percentage"><%= totalOrders %></h3>
                          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> -->
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Users</p>
                          <h3 class="rate-percentage"><%= totalUsers %></h3>
                          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> -->
                        </div>
                        <div class="d-none d-md-block">
                          <!-- <p class="statistics-title">Orders Pending</p> -->
                          <!-- <h3 class="rate-percentage">2m:35s</h3> -->
                          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- partial -->
                  <!-- partial:../../partials/_sidebar.html -->

                  <!-- partial -->
                  <div class="row">

                    <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title" style="float: left; font-size: larger;">Perfomance Statistics</h4>
                          <button id="monthlyButton" class="btn btn-sm btn-primary text-white" style="float: right;">Monthly</button>
                          <button id="yearlyButton" class="btn btn-sm btn-primary text-white" style="float: right;">Yearly</button>
                          <canvas id="areaChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Bar chart</h4>
                          <canvas id="barChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Line chart</h4>
                          <canvas id="lineChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Doughnut chart</h4>
                          <canvas id="doughnutChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Pie chart</h4>
                          <canvas id="pieChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Scatter chart</h4>
                          <canvas id="scatterChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

  <%-include('./includes/footerNav.ejs')  %>

  <script>
    // Pass orderCounts array to the JavaScript file
    const orderCounts = JSON.parse('<%- JSON.stringify(orderCounts) %>').map(Number);
    const userCounts = JSON.parse('<%- JSON.stringify(userCounts) %>').map(Number);
    const orderCountsByMonth = JSON.parse('<%- JSON.stringify(orderCountsByMonth) %>').map(Number);
    const userCountsByMonth = JSON.parse('<%- JSON.stringify(userCountsByMonth) %>').map(Number);
  </script>

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <script src="/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
  <!-- new chart scripts -->
  <script src="../../js/chart.js"></script>

</body>

</html>