<%-include('./includes/header.ejs')  %>

</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
  <div class="container-scroller">
    <%-include('./includes/headerNav.ejs')  %>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">All Products</h4>
                <p class="card-description">
                  <!-- Add class <code>.table-striped</code> -->
                </p>
                <a href="/admin/add-offer"><button type="button" class="btn btn-primary">Add Offers</button></a>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          Title
                        </th>
                        <th>
                          Starting date
                        </th>
                        <th>
                          Expiry date
                        </th>
                        <th>
                          Percentage
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% offers.forEach(offer => { %>
                      <tr>
                        <td class="py-1">
                          <%= offer.title %>
                        </td>
                        <td>
                          <%= offer.startingDate.toLocaleDateString() %>
                        </td>
                        <td>
                          <%= offer.expiryDate.toLocaleDateString() %>
                          <!-- <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                        </td>
                        <td>
                          <%= offer.percentage %> %
                        </td>
                        <td>
                          <%= offer.status %>
                        </td>
                        <td>
                          <div style="margin-bottom: 5px;">
                            <!-- <% if(offer.status=='Active'){ %>
                            <a href="" class="btn btn-sm  btn-danger" style="width: 100px;" onclick="unlistOffer(event,'<%=offer._id  %>');">Unlist</a>

                            <% }else{ %>
                            <a href="" class="btn btn-sm btn-success" style="width: 100px;" onclick="listOffer(event,'<%=offer._id  %>');">List</a>
                            <% } %> -->
                            <a href="" class="btn btn-sm  btn-danger" style="width: 100px;" onclick="deletetOffer(event,'<%=offer._id  %>');">Delete</a>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <!-- <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
                    href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
                  BootstrapDash.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
                  reserved.</span> -->
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
    <script>
      async function listOffer(event, offerId) {
        event.preventDefault(); // Prevent the default behavior of the anchor

        Swal.fire({
          title: "Are you sure?",
          text: "",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(async (result) => {
          if (result.isConfirmed) {
            try {
              const response = await $.ajax({
                type: 'POST',
                data: {
                  offerId: offerId
                },
                url: '/admin/list-offer',
              });

              if (response.success) {
                Swal.fire({
                  title: "",
                  text: "Successfully listed!",
                  icon: "success"
                });
                setTimeout(() => {
                  window.location.href = window.location.href;
                }, 1000);

                // Optionally, you can refresh the page
                // window.location.href = window.location.href;
              }
            } catch (error) {
              console.error(error);
            }
          }
        });
      }

      async function deletetOffer(event, offerId) {
        event.preventDefault(); // Prevent the default behavior of the anchor

        Swal.fire({
          title: "Are you sure?",
          text: "",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes"
        }).then(async (result) => {
          if (result.isConfirmed) {
            try {
              const response = await $.ajax({
                type: 'POST',
                data: {
                  offerId: offerId
                },
                url: '/admin/delete-offer',
              });

              if (response.success) {
                Swal.fire({
                  title: "",
                  text: "Successfully unlisted!",
                  icon: "success"
                });
                setTimeout(() => {
                  window.location.href = window.location.href;
                }, 1000);

                // Optionally, you can refresh the page
                // window.location.href = window.location.href;
              }
            } catch (error) {
              console.error(error);
            }
          }
        });
      }
    </script>

</body>

</html>