<%-include('./includes/header.ejs')  %>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>


<div class="men_banner">
  <%- include('./includes/headerNav.ejs', { cartItemsLength: cart && cart.items ? cart.items.length : 0 }) %>
  <div class="container">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name"> <%= user.fname %>
              </h5>
              <h6 class="user-email"><%= user.email %></h6>
            </div>

            <!-- Buttons for Edit Profile, Orders, Manage Address, and Wallet -->
            <a href="/edit-profile" class="btn btn-light btn-block mb-2">Edit Profile</a>
            <a href="/my-orders" class="btn btn-light btn-block mb-2">Orders</a>
            <a href="/manage-address" class="btn btn-light btn-block mb-2">Manage Address</a>
            <a href="/wallet" class="btn btn-light btn-block mb-2">Wallet</a>

          </div>

        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
      <form action="edit-profile" method="post">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
              <!-- <h6 class="mb-2 text-primary">Personal Details</h6> -->
            </div>
          </div>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">User Name</label>
                <input type="text" name="fname" class="form-control" id="fullName" required value="<%= user.fname %>">
              </div>
            </div>
          </div>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
              <!-- <div class="form-group">
                  <label for="eMail">Email</label>
                  <input type="email" class="form-control" id="eMail" value="<%= user.email %>">
                </div> -->
            </div>
          </div>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" name="phone" class="form-control" id="phone" required value="<%= user.phone %>">
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="text-right">
              <!-- <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button> -->
              <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>

</div>
<%-include('./includes/footerNav.ejs')  %>
<%-include('./includes/footer.ejs')  %>