<%-include('./includes/header.ejs')  %>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>



<div class="men_banner">
  <%- include('./includes/headerNav.ejs', { cartItemsLength: cart && cart.items ? cart.items.length : 0 }) %>

  <div class="container">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name"><%= user.fname %></h5>
              <h6 class="user-email"><%= user.email %></h6>
            </div>

            <!-- Buttons for Edit Profile, Orders, Manage Address, and Wallet -->
            <a href="/edit-profile" class="btn btn-light btn-block mb-2">Edit Profile</a>
            <a href="/my-orders" class="btn btn-light btn-block mb-2">Orders</a>
            <a href="/manage-address" class="btn btn-light btn-block mb-2">Manage Address</a>
            <a href="/wallet" class="btn btn-light btn-block mb-2">Wallet</a>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-md-12">
        <div class="row">
          <% addresses.forEach(address => { %>
          <div class="col-xl-4 col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title"><%= address.addressName %></h6>
                <p class="card-text">
                  <%= address.address %><br>
                  <%= address.locality %>, <%= address.city %>, <%= address.state %> - <%= address.pincode %><br>
                  Phone: <%= address.addressPhone %>
                </p>

                <div class="btn-group">
                  <a href="/edit-address/<%= address._id %>" class="btn btn-primary ">Edit</a>
                  <a href="/delete-address/<%= address._id %>" class="btn btn-danger" style="margin-left: 5px;">Delete</a>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <a href="/add-address" class="btn btn-secondary mt-3">Add new address</a>
      </div>
    </div>
  </div>





  <%-include('./includes/footerNav.ejs')  %>
  <%-include('./includes/footer.ejs')  %>