<%-include('./includes/header.ejs')  %>


<script type="application/x-javascript">
  addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<link href="/css/component.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>
  $(document).ready(function() {
    $(".megamenu").megamenu();
  });
</script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/simpleCart.min.js"> </script>
<div class="men_banner">
  <%- include('./includes/headerNav.ejs', { cartItemsLength: cart && cart.items ? cart.items.length : 0 }) %>
</div>
<div class="men">
  <div class="container">
    <div class="col-md-4 sidebar_men">
      <h3>Categories</h3>

      <ul class="product-categories color">
        <% categories.forEach(categories=> { %>
        <% if (categories.status==='listed' ) { %>
        <li class="cat-item cat-item-42"><a href="/product/filter?categoryId=<%= categories._id %>">
            <%= categories.name %>
          </a> <span class="count">
            <%= categories.count %>
          </span></li>
        <% } %>
        <% }); %>

      </ul>
    </div>
    <div class="col-md-8 mens_right">
      <div class="dreamcrub">
        <!-- <ul class="breadcrumbs">
						<li class="home">
							<a href="index.html" title="Go to Home Page">Home</a>&nbsp;
							<span>&gt;</span>
						</li>
						<li class="home">&nbsp;
							Men / Women&nbsp;
						</li>
					</ul> -->

        <ul class="previous">
          <!-- <li><a href="index.html">Back to Previous Page</a></li> -->
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="mens-toolbar">
        <div class="sort">
          <div class="sort-by">
            <label>Sort By</label>
            <!-- <select>
								<option value="">
									New Arrivals </option>
								<option value="">
									Price lowest </option>
								<option value="">
									Price highest </option>
							</select> -->
            <form id="sortingForm" action="/product/filter?categoryName=<%= categories.name %>" method="GET">
              <select id="sortOption" name="sortOption">
                <option value="newest">
                  New Arrivals
                </option>
                <option value="priceLow">
                  Price lowest
                </option>
                <option value="priceHigh">
                  Price highest
                </option>
              </select>
            </form>

            <script>
              // Attach an event listener to the select element
              document.getElementById('sortOption').addEventListener('change', function() {
                // Automatically submit the form when the user selects an option
                document.getElementById('sortingForm').submit();
              });
            </script>

            <!-- <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a> -->
          </div>
        </div>
        <!-- <div class="pagination">
						<% for (let i = 1; i <= totalPages; i++) { %>
						  <a href="/products?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a>
						<% } %>
					  </div> -->
        <!-- <ul class="women_pagenation dc_paginationA dc_paginationA06">
						<li><a href="#" class="previous">Page : </a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
					</ul> -->
        <form action="/products" method="GET">
          <input type="text" name="search" placeholder="Search products" />
          <button type="submit">Search</button>
        </form>
        <ul class="women_pagenation dc_paginationA dc_paginationA06">
          <% for (let i = 1; i <= totalPages; i++) { %>
          <li <% if (i === currentPage) { %>class="active" <% } %>><a href="/products?page=<%= i %>"><%= i %></a></li>
          <% } %>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
        <div class="cbp-vm-options">
          <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
          <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List
            View</a>
        </div>
        <div class="pages">
          <!-- <div class="limiter visible-desktop">
							<label>Show</label>
							<select>
								<option value="" selected="selected">
									9 </option>
								<option value="">
									15 </option>
								<option value="">
									30 </option>
							</select> per page
						</div> -->
        </div>
        <div class="clearfix"></div>
        <ul>
          <% products.forEach(product=> { %>
          <% if (product.status==='listed' && product.category.status==='listed' ) { %>
          <li class="simpleCart_shelfItem">
            <a class="cbp-vm-image" href="/productsDetails/<%= product._id %>">
              <div class="view view-first">
                <div class="inner_content clearfix">
                  <div class="product_image">
                    <div class="mask1"><img src="/<%= product.imageURLs[3] %>" style="width: 220px; height: 293px;" alt="<%= product.imageURLs[3] %>" class="img-responsive zoom-img"></div>
                    <!-- <div class="mask1" ><img src="<%= product.imageURLs[3] %>"  alt="image" class="img-responsive zoom-img"></div> -->
                    <div class="mask">
                      <div class="info">Quick View</div>
                    </div>
                    <div class="product_container">
                      <h4>
                        <%= product.title %>
                      </h4>
                      <p>
                        <%= product.description %>
                      </p>
                      <div class="price mount item_price">
                        <%= product.price %>
                      </div>
                      <% if (product.quantity<1) { %>
                      <a class="button item_add cbp-vm-icon cbp-vm-add" style="color: red;" href="#">Out of stock</a>
                      <% } else { %>
                      <a class="button item_add cbp-vm-icon cbp-vm-add" href="/add-to-cart/<%= product._id %>">Add to cart</a>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <% } %>
          <% }); %>

          <!-- <li class="simpleCart_shelfItem">
							<a class="cbp-vm-image" href="single.html">
							  <div class="view view-first">
					   		  <div class="inner_content clearfix">
								<div class="product_image">
									<div class="mask1"><img src="images/m2.jpg" alt="image" class="img-responsive zoom-img"></div>
									 <div class="mask">
			                       		<div class="info">Quick View</div>
					                  </div>
									 <div class="product_container">
									   <h4>Lorem 2015</h4>
									   <p>Dresses</p>
									   <div class="price mount item_price">$99.00</div>
									   <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
									 </div>		
								  </div>
			                     </div>
		                      </div>
							 </a>
						</li>
						<li class="last simpleCart_shelfItem">
							<a class="cbp-vm-image" href="single.html">
								<div class="view view-first">
					   		  <div class="inner_content clearfix">
								<div class="product_image">
									<div class="mask1"><img src="images/m3.jpg" alt="image" class="img-responsive zoom-img"></div>
									<div class="mask">
			                       		<div class="info">Quick View</div>
					                  </div>
									<div class="product_container">
									   <h4>Lorem 2015</h4>
									   <p>Dresses</p>
									    <div class="price mount item_price">$99.00</div>
									    <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
									 </div>		
								  </div>
			                     </div>
		                      </div>
							</a>
						</li>
						<li class="simpleCart_shelfItem">
							<a class="cbp-vm-image" href="single.html">
								<div class="view view-first">
					   		  <div class="inner_content clearfix">
								<div class="product_image">
									<div class="mask1"><img src="images/m1.jpg" alt="image" class="img-responsive zoom-img"></div>
									<div class="mask">
			                       		<div class="info">Quick View</div>
					                  </div>
									<div class="product_container">
									   <h4>Lorem 2015</h4>
									   <p>Dresses</p>
									   <div class="price mount item_price">$99.00</div>
									    <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
									 </div>		
								  </div>
			                     </div>
		                      </div>
							</a>
						</li>
						<li class="simpleCart_shelfItem">
							<a class="cbp-vm-image" href="single.html">
								<div class="view view-first">
					   		  <div class="inner_content clearfix">
								<div class="product_image">
									<div class="mask1"><img src="images/m5.jpg" alt="image" class="img-responsive zoom-img"></div>
									<div class="mask">
			                       		<div class="info">Quick View</div>
					                  </div>
									<div class="product_container">
									   <h4>Lorem 2015</h4>
									   <p>Dresses</p>
									    <div class="price mount item_price">$99.00</div>
									    <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
									 </div>		
								  </div>
			                     </div>
		                      </div>
							</a>
						</li>
						<li class="last simpleCart_shelfItem">
							<a class="cbp-vm-image" href="single.html">
								<div class="view view-first">
					   		  <div class="inner_content clearfix">
								<div class="product_image">
									<div class="mask1"><img src="images/m6.jpg" alt="image" class="img-responsive zoom-img"></div>
									<div class="mask">
			                       		<div class="info">Quick View</div>
					                  </div>
									<div class="product_container">
									   <h4>Lorem 2015</h4>
									   <p>Dresses</p>
									    <div class="price mount item_price">$99.00</div>
									    <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
									 </div>		
								  </div>
			                     </div>
		                      </div>
							</a>
						</li> -->
        </ul>
      </div>
      <script src="js/cbpViewModeSwitch.js" type="text/javascript"></script>
      <script src="js/classie.js" type="text/javascript"></script>
    </div>
  </div>
</div>
<%-include('./includes/footerNav.ejs')  %>
<%-include('./includes/footer.ejs')  %>