<%-include('./includes/header.ejs')  %>

	
	<div class="men_banner">
		<%-include('./includes/headerNav.ejs')  %>

		<div class="container">
			<br>
				<% if (errorMessages.length > 0) { %>
					<div class="error alert alert-danger" role="alert">
					  <% errorMessages.forEach(function(message) { %>
						<%= message %>
					  <% }); %>
					</div>
				  <% } %>
				  
				  <% if (successMessages.length > 0) { %>
					<div class="success alert-success" role="alert">
					  <% successMessages.forEach(function(message) { %>
						<%= message %>
					  <% }); %>
					</div>
				  <% } %>
				  


					<br><br>
					<h3>Reset Password</h3>
					<div class="col-md-7 account-top">
						<form method="post" id="reset-form" action="/reset-password">
							<input type="hidden" name="email" id="" value="<%= email %>">
							<div>
								<span class="pass">New Password*</span>
								<!-- <input type="password" name="password" id="password"
										pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
										title="Password must be at least 8 characters long and include at least one letter and one number"
										required oninvalid="this.setCustomValidity('')"> -->
								<input type="password" name="password" id="password"
									pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
									title="Password must be at least 8 characters long and include at least one letter, one number, and one symbol (@, $, !, %, *, ?, or &)"
									required
									oninvalid="this.setCustomValidity('')">
							</div>
							
							<div>
								<span class="pass">Confirm Password*</span>
								<!-- <input type="password" name="password" id="password"
										pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
										title="Password must be at least 8 characters long and include at least one letter and one number"
										required oninvalid="this.setCustomValidity('')"> -->
								<input type="password" name="cpassword" id="cpassword"
									pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
									title="Password must be at least 8 characters long and include at least one letter, one number, and one symbol (@, $, !, %, *, ?, or &)"
									required
									oninvalid="this.setCustomValidity('')">
							</div>
							<p id="password-match-error" style="color: red;"></p>
							<input type="submit" value="Login">
						</form>
						<script>
                            document.getElementById("reset-form").addEventListener("submit", function (event) {
                                var password = document.getElementById("password").value;
                                var confirmPassword = document.getElementById("cpassword").value;
                                var passwordMatchError = document.getElementById("password-match-error");
    
                                if (password !== confirmPassword) {
                                    passwordMatchError.textContent = "Passwords do not match!";
                                    event.preventDefault(); // Prevent form submission
                                } else {
                                    passwordMatchError.textContent = ""; // Clear any previous error message
                                }
                            });
                        </script>
		</div>
	</div>
	<div class="map">
		<!-- <iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978">
		</iframe> -->
	</div>
	<%-include('./includes/footerNav.ejs')  %>
	<%-include('./includes/footer.ejs')  %>