<%- include('./includes/header.ejs') %>

<div class="men_banner">
  <%- include('./includes/headerNav.ejs', { cartItemsLength: cart && cart.items ? cart.items.length : 0 }) %>
  <div class="container">
    <div class="row gutters">
      <%- include('./includes/my-profileSidebar.ejs') %>
      <div class="col-lg-9 col-xl-9">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">Balance :₹<%= wallet.balance %></h5>
          </div>
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
            </div>
            <% if (wallet.transactions.length > 0) { %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Order Id</th>
                </tr>
              </thead>
              <tbody>
                <% wallet.transactions.forEach(transaction => { %>
                <tr>
                  <td><%= transaction.date %></td>
                  <td>
                    <% if (transaction.type==='Credit') { %>
                    <span class="text-success"><%= transaction.type %></span>
                    <% } else { %>
                    <span class="text-danger"><%= transaction.type %></span>
                    <% } %>
                  </td>
                  <td><%= transaction.amount %></td>
                  <td><%= transaction.orderId %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
            <% } else { %>
            <h2>No Transactions</h2>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    </section>